<p id="notice"><%= notice %></p>

<h2>Listing Records</h2>

<table width= "904">
  <tr>
    <td><center><h3>Total Income<hr></h3></center><h3><center><%= current_user.total_income %></center></h3></td>
    <td><center><h3>Total Cost<hr></h3></center><h3><center><%= current_user.total_cost %></center></h3></td>
    <td><center><h3>Total Remainig Balance<hr></h3></center><h3><center><%= current_user.total_balance %></center></h3></td>
  </tr>
</table>

<table width= "904">
	<tr>
		<% if current_user.total_balance <0 %>
			<h><b>Your total balance is runing low. Please look into your expenses</b></h>   
				<br>
		<% end %>
	</tr>
<% if @category %>
  <% if @category.errors.size > 0 %>
    <div id="error_explanation">
      <%- if @category.errors %>
        <%= @category.errors.full_messages.join(", ") %>
      <% end %>
    </div>
  <% end %>
<% end %>
  <tr>
    <td>
      <%= form_tag "/categories/", method: :post do %>
        <%= label_tag :date %>
        <%= date_select("date", "on", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }) %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
        <%= label_tag :amount %>
        <%= text_field_tag :amount %>
        <%= submit_tag "Create Record" %>
      <% end %>
    </td>
  </tr>
</table>

<table width= "904">
  <tbody>
    <%- @categories.each do |category| %>
      <%- category.incomes.each do |income| %>
        <tr>
          <td>
            <%- if category.date %>
              <%= category.date.strftime("%m/%d/%Y") %>
            <% else %>
              <%= income.created_at.strftime("%m/%d/%Y")  %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= income.amount %>	
          </td>
          <td>
	          <%= link_to 'Destroy', "/categories/#{category.id}/incomes/#{income.id}", 
		          method: :delete, data: { confirm: 'Are you sure?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
      <%- category.costs.each do |cost| %>
        <tr>
          <td>
            <% if category.date %>
              <%= category.date.strftime("%m/%d/%Y") %>
            <% else %>
              <%= cost.created_at.strftime("%m/%d/%Y") %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= cost.amount %>	
          </td>
          <td>
	          <%= link_to 'Destroy', "/categories/#{category.id}/costs/#{cost.id}", 
		          method: :delete, data: { confirm: 'Are you sure?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
	  <% end %>
  </tbody>
</table>
<br>