<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {background-color:lavender}
 h1   {color:purple}
 h2   {color:purple;}
 h3   {color:purple;}
 h    {color:red;}
 
 table, th, td {
			border: 1px solid black;
				}
</style>
	

<body>
  
  <body>
<h1><b><I><center>Expense Tracker</center></I></b></h1>
<p><a href="https://bitbucket.org/ranjitha1992/wallet">wallet app</a></p>
  
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<% end %>

<%= yield %>

</body>
</html>
